@model int
@{
    Layout = null;
}

<head>
    <title>Success Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="alert alert-success text-center">
            <h2>Insertion Successful</h2>
        </div>
        <div class="container text-center">
            <p>@Model rows were inserted into the database.</p>
            <button class="btn btn-primary" onclick="history.back()">Continue</button>
        </div>
    </div>
</body>
